/* Universal area start */
*{
	box-sizing: border-box; /* to remove borders adding together */
}
/* Universal area end */

/* common style start */
.container{
	width: 90%;
	margin: auto;
	border: 1px solid red;
}
body{
	margin: 0px;
}
/* common style end */

/* header section start */
header{
	height: 200px;	
}
.logo{
	height: 100%;
	width: 20%;
	border: 1px solid green;
	float: left;
}
.banner{
	height: 100%;
	width: 80%;
	border: 1px solid black;
	float: left;
	background: url(../../../class3/images/pencilbox_banner.jpeg);
	background-size: cover;
}
/* .logo img{
	width:100%;
	margin-top: 50px;
	border: 1px solid red;
} */
.banner img{
	width:100%;
	height: 80%;
	border: 1px solid red;
}
h1{
	height: 10%
	border: 1px solid red;
	margin: 0px;
	text-align: center;
}
/* header section end */

/* nav section start */
nav{
	height: 40px;
}
/* nav section end */

/* main section start */
main{
	height: 600px;
}
/* main section end */

/* contant area start */
section{
	height:100%;
	width: 70%;
	border:1px solid yellow;
	
	float: left;
}
article{
	height:50%;
	width: 100%;
	border:1px solid yellow;
}
/* contant area end */

/* aside area start */
aside{
	height:100%;
	width: 30%;
	border: 1px solid green;
	
	float: left;
}
/* aside area end */

/* footer area start */
footer{
	height: 70px;
}
/* footer area end */