/* common code start */

*{
	box-sizing: border-box;
}
body{
	margin: 0px;
}
.container{
	width: 80%;
	margin: 0px auto;
	border: 1px solid;
}

.mx-20{
	margin: 0px 60.5px;
}
.bg-white{
	
	display: block;
	background: #fff;
}

/* common code end */

/* nav area start */
nav{
	border: 1px solid black;
	height: 60px;
	background: red;
}
nav section{
	border: 1px solid red;
	height: 60px;
	background: white;
}

.logo{
	border: 1px solid red;
	width: 15%;
	height: 100%;
	float: left;
}
.logo a{
	border: 1px solid;
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: inline-block;	
}

.logo a img{
	width: 30%;
	height: 50px;
	display: inline-block;	
}

.logo a p{
	border: 1px solid;
	width: 67%;
	color: #fb5607;
	text-decoration: none;
	font-size: 30px;
	font-weight: 700;
	font-family: "Playfair Display", serif;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: inline-block;	
}

.navbar{
	width: 40%;
	height: 100%;
	float: left;
}
.navbar ul{
	margin: 0px;
	padding: 0px;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
}
.navbar ul li a{
	font-size: 16px;
	color: rgba(0, 0, 0, 0.7);
	font-family: "SourceSansPro", "Segoe UI", "Helvetica Neue", Arial;
	font-weight: 400;
	margin-right: 10px;
	padding: 20px 15px;
	display: inline-block;
	text-decoration: none;
}

.search{
	width: 20%;
	height: 100%;
	float: left;
}
.Enquire-btn{
	border: 1px solid red;
	width: 20%;
	height: 100%;
	float: left;	
}
/* nav area end */

/* header area start */
header{
	height: 450px;
}		
.header-content{
	height: 100%;
	width: 45%;
	float: left;
	padding: 60px 30px;
	background: #fff;
}
.header-content h5{
	color: #3a86ff;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
	font-family: "Playfair Display", serif;
}
.header-content h3{
	color: #0b2238;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.3;
	font-family: "SourceSansPro", "Segoe UI", "Helvetica Neue", Arial;
}
.header-content p{
	color: #6c7a87;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	font-family: "SourceSansPro", "Segoe UI", "Helvetica Neue", Arial;
}
.header-content a{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	font-family: "SourceSansPro", "Segoe UI", "Helvetica Neue", Arial;
	padding: 12px 45px;
	border: 1px solid #000;
	border-radius: 25px;
	background: #fb5607;
	display: inline-block;
	text-decoration: none ;
}
.header-poster{
	height: 100%;
	width: 55%;
	float: left;
}
.header-poster img{
	height:80%;
	width: 100%;
}

/* header area end */

/* Our services area start */
.fullbody{
	width: 100%;
	background-color: #F7F7F7;
	border: 1px solid red;
}
.service-section{
	padding-top: 107px;
	background-color: #F7F7F7;
}
.service-section .title-section{
	text-align: center;
}
.service-section .title-section h6{
	color: #3a86ff;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.6;
	font-family: "Poppins", sans-serif;
	margin: 0px;
}

.service-section .title-section h3{
	color: #0b2238;
	font-size: 34px;
	font-weight: 700;
	line-height: 1.6;
	font-family: "Poppins", sans-serif;
	margin: 0px;
}
.service-section .main-contant{
	height: 400px;
	padding-top: 50px;
	border: 1px solid blue;
	margin-bottom: 35px;
}
.service-section .main-contant .design{
	width: 30%;
	background: #fff;
	border: 1px solid blue;
	border-radius: 9px;
	padding: 50px 40px;
	float: left;
}
.design i{
	width: 60px;
	height: 60px;
	display: inline-block;
	color: white;
	background: #3A86FF;
	border-radius: 7px;
}
.service-section .main-contant .strategy{
	width: 30%;
	background: #fff;
	border: 1px solid blue;
	border-radius: 9px;
	padding: 50px 40px;
	float: left;
}

.strategy i{
	width: 60px;
	height: 60px;
	display: inline-block;
	color: white;
	background: #FF006E;
	border-radius: 7px;
	
}

.service-section .main-contant .marketing{
	width: 30%;
	background: #fff;
	border: 1px solid blue;
	border-radius: 9px;
	padding: 50px 40px;
	float: left;
}
.marketing i{
	width: 60px;
	height: 60px;
	display: inline-block;
	color: white;
	background: #FFBE0B;
	border-radius: 7px;
}
.service-section .main-contant h4{
	margin: 25px 0px 15px;
}
.service-section .main-contant a{
	color: #0b2238;
	font-size: 20px;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
	text-decoration: none ;
}
.service-section .main-contant a:hover{
	color: #fb5607;
}
.service-section .main-contant p{
	color: #6c7a87;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	font-family: "Poppins", sans-serif;
	margin: 0px;
}

/* Our services area end */

/* Explore area start */
#explore{
	width: 100%;
	background-color: #FFF;
	border: 1px solid red;
}
/* Explore area end */