<!DOCTYPE html>
<html>
	<head>
		<title>Estates Housing catagories template using float technique</title>
		<!-- REMIX ICON CDN start -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
		<!-- REMIX ICON CDN END -->
		
		<!-- Default CSS -->
		<link rel="stylesheet" href="assets/css/styles.css">
	</head>
	
	<body>
		<!-- nav section start -->
		<nav>
			<section class="container">
				<div class="logo">
					<a href="index.html">
						<img src="assets/img/logo.png" alt="Estate_logo" title="Estate_logo">
						<p>Estates</p>
					</a>
				</div>
				<div class="navbar">
					<ul>
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="about-us.html">About</a>
						</li>
						<li>
							<a href="shop.html">Services</a>
						</li>
						<li>
							<a href="blog.html">Pages</a>
						</li>
						<li>
							<a href="contact-us.html">Contact</a>
						</li>
					</ul>
				</div>
				<div class="search">
					<form>
						<input type="search" id="gsearch" name="gsearch" placeholder="Seach here.." >
						<input type="submit">
					</form>
				</div>
				<div class="Enquire-btn">
					<a href="enquire.html">Enquire Here</a>
				</div>
			</section>
		</nav>
		<!-- nav section end -->
		
		<!-- header section start -->
		<header class="container">
			<div class="header-content">
				<h5>A HIGHER QUALITY OF LIVING</h5>
				<h3>The Ideal Space To Balance Life, Work And Play.</h3>
				<p>
					Semper at. Lorem ipsum dolor sit amet elit elit. Non quae, ad esse et.
				</p>
				
					<a href="">Get Started</a>
					<a href="">Contact Us</a>

			</div>
			
			<div class="header-poster">
				<img src="assets/img/1.png" alt="Mundana" title="Mundana">
			</div>
		</header>
		<!-- header section end -->
		
		<!-- Our services start -->
		<section class="fullbody">
			<section class="service-section container">
				<div class="title-section">
					<h6>OUR SERVICES</h6>
					<h3>We Provide Great Services</h3>
				<div>
				<div class="main-contant">
					<!-- single block start -->
					<div class="design">
						
						<i class="ri-funds-line bg-white"></i>
						
						<h4>
							<a href="">Design</a>
						</h4>
						<p>
							Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed et dolor amet.		
						</p>
					</div>
					<!-- single block end -->
					<!-- single block start -->
					<div class="strategy mx-20">
						<i class="ri-funds-line"></i>

						<h4>
							<a href="">Strategy</a>
						</h4>
						<p>
							Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et amet.	
						</p>
					</div>
					<!-- single block end -->
					<!-- single block start -->
					<div class="marketing">
						
						<i class="ri-funds-line"></i>
					
						<h4>
							<a href="">Marketing</a>
						</h4>
						<p>
							Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed et dolor amet.		
						</p>
					</div>
					<!-- single block end -->
				</div>
			</section>
		</section>
		<!-- Our services end -->
		
		<!-- Explore section start -->
		<main id="explore">
			<section class="container">
				<div class="explore-img">
					<img src="assets/img/3.png" alt="" tilte="">
				</div>
				<div class="explore-content">
					<div>
						<h6>EXPLORE</h6>
						<h3>Explore By Property Type</h3>
						<p>
							Vestibulum ante ipsum primis in faucibus orci luctus turpis sodales quis. Integer sit amet mattis quam.Vivamus a ligula quam tesque et libero ut justo ultrices in.
						</p>
					</div>
					<div>
						<div>
							<!-- single section start -->
							<div>
								<a>Office</a>
								<p>
									Lorem ipsum viverra feugiat. Pellen tesque libero justo.
								</p>
							</div>
							<!-- single section end -->
							<!-- single section start -->
							<div>
								<a>House</a>
								<p>
									Lorem ipsum viverra feugiat. Pellen tesque libero justo.
								</p>
							</div>
							<!-- single section end -->
						</div>
						<div>
							<!-- single section start -->
							<div>
								<a>Villa</a>
								<p>
									Lorem ipsum viverra feugiat. Pellen tesque libero justo.
								</p>
							</div>
							<!-- single section end -->
							<!-- single section start -->
							<div>
								<a>Apportment</a>
								<p>
									Lorem ipsum viverra feugiat. Pellen tesque libero justo.
								</p>
							</div>
							<!-- single section end -->
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- Explore section end -->
		
		<!-- AVAILABLE  section start -->
		<main id="available">
			<section class="container">
				<h6>AVAILABLE</h6>
				<h3>AVAILABLE Properties For Rent</h3>
				<!-- single section start -->
				<div>
					<img src="assets/img/g1.jpg" alt="" title="">
					<a>Office for sale</a>
					<span>$ 540/month</span>
					<p>
						Nulla ex nunc, interdum nec egestas nec, dapibus ac mauris. Vivamus id tempor nisl.
					</p>
					<ul>
						<li>3</li>
						<li>3</li>
						<li>1200 sq ft</li>
					</ul>
				</div>
				<!-- single section end -->
				
				<!-- single section start -->
				<div>
					<img src="assets/img/g2.jpg" alt="" title="">
					<a>Home for sale</a>
					<span>$ 840/month</span>
					<p>
						Nulla ex nunc, interdum nec egestas nec, dapibus ac mauris. Vivamus id tempor nisl.
					</p>
					<ul>
						<li>3</li>
						<li>3</li>
						<li>1200 sq ft</li>
					</ul>
				</div>
				<!-- single section end -->
				
				<!-- single section start -->
				<div>
					<img src="assets/img/g3.jpg" alt="" title="">
					<a>Land for sale</a>
					<span>$ 440/month</span>
					<p>
						Nulla ex nunc, interdum nec egestas nec, dapibus ac mauris. Vivamus id tempor nisl.
					</p>
					<ul>
						<li>3</li>
						<li>3</li>
						<li>1200 sq ft</li>
					</ul>
				</div>
				<!-- single section end -->
			</section>
			
		</main>
		<!-- AVAILABLE  section end -->
		
		<!-- Blog  section start -->
		<main id="blog">
			<section class="container">
				<div></div>
				<div>
					<div>
						<!-- single design start -->
						<div>
							<img src="assets/img/g2.jpg" alt="" title="">
							<h6>Dec 31, 2020</h6>
							<a>The ultimate guide to find a flat in your area</a>
							<p>
								Lorem ipsum viverra feugiat. Pellen tesque libero just
							</p>
						</div>
						<!-- single design start -->
					</div>
					<div></div>
				</div>
			</section>
		</main>
		<!-- Blog  section end -->
		
		<!-- WHY section start -->
		<main id="why">
			<section class="container"></section>
		</main>
		<!-- WHY section end -->
		
		<!-- FAQS section start -->
		<main id="faqs">
			<section class="container"></section>
		</main>
		<!-- FAQS section end -->
		
		<!-- Developer section start -->
		<main id="developer">
			<section class="container"></section>
		</main>
		<!-- Developer section end -->
		
		<!-- Footer section start -->
		<footer>
			<section class="container"></section>
		</footer>
		<!-- Footer section end -->
	</body>
</html>